<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/app.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
  </head>

  <body ng-app="todo" ng-controller="TodoCtrl">

      <!-- Header -->
        <ion-header-bar class="bar-calm">
          <h1 class="title">Todo</h1>
          <!-- New Task button-->
          <button class="button button-icon" ng-click="newTask()">
            <i class="icon ion-compose"></i>
          </button>
          <!-- Scoreboard button-->
          <button class="button button-icon" ng-click="seeScore()">
            <i class="icon ion-ribbon-b"></i>
          </button>
        </ion-header-bar>
        <ion-content>

          <!-- List and list items -->
          <ion-list>
            <ion-item ng-repeat="task in tasks" id="task">
              {{task.title}}
                <a class="button button-icon icon ion-checkmark-round task-btn"
                ng-click="remove(task)"></a>
            </ion-item>
          </ion-list>
        </ion-content>

      <!-- New task modal -->
      <script id="new-task.html" type="text/ng-template">

        <div class="modal">
          <ion-header-bar class="bar-calm">
            <h1 class="title">New Task</h1>
              <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
          </ion-header-bar>

          // Task modal content
          <ion-content>
          <form ng-submit="createTask(task)">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="Add a task to your todo list" ng-model="task.title">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-energized">Create Task</button>
            </div>
          </form>
        </ion-content>
      </div>

    </script>

    <!-- Score modal -->
    <script id="score-modal.html" type="text/ng-template">
      <div class="modal">
      <ion-header-bar class="bar-calm">
        <h1 class="title">Score</h1>
          <button class="button button-clear button-positive" ng-click="closeScore()">Cancel</button>
      </ion-header-bar>
      // Score modal content
      <ion-content>
        <ion-item>
          Congratulations on completing {{count}} tasks!
        </ion-item>
      </ion-content>
    </script>

  </body>

</html>
